<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/bootstraptemp/template/assets/images/favicon.png" />
  </head>



<script type="text/javascript">
		function validation()
		{
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;
		var season=document.getElementById("season")
		var factorname=document.getElementById("factorname")

		if(season.value.length==0)
		{
			alert("Please enter season")
			return false;
		}
		else if(factorname.value.length==0)
		{
			alert("Please enter factorname")
			return false;
		}
		else
		{
			return true;
		}
		}
</script>


  <body>
	<form method="post" action="{% url 'addseasonfactorAction' %}">
		{% csrf_token %}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Add Season Factor</h3>
                <form>
                  <div class="form-group">
                    <label>Season</label>
                    <select name="season" id="season" class="form-control p_input">		
					<option value="">---select---</option>
					{% for v in data %}
					<option value="{{v.id}}">{{v.seasonname}}</option>
					{% endfor %}
				</select>
                  </div>
                  
		<div class="form-group">
                    <label>Factor Name</label>
                    <input type="text" name="factorname" id="factorname" class="form-control p_input">
                  </div>

		

		
                  <div class="form-group d-flex align-items-center justify-content-between">
                    
                    
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn" onclick="return validation()">Add</button>
                  </div>
                  
                  
                </form>
              </div>
			
            </div>
          </div>
		
          <!-- content-wrapper ends -->
        </div>
		
        <!-- row ends -->
      </div>
		
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/bootstraptemp/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/bootstraptemp/template/assets/js/off-canvas.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/hoverable-collapse.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/misc.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/settings.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/todolist.js"></script>
    <!-- endinject -->
  </body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>



