<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/bootstraptemp/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/bootstraptemp/template/assets/images/favicon.png" />
  </head>



<script src="/static/jquery-1.8.3.min.js"></script>
<script>
	$(document).ready(function(){
		$("#username").change(function(){
			var username=$("#username").val();
			$.ajax({
				url:"{% url 'checkusername' %}",
				data:{'username':username},
				success:function(data){
					if(data.valid == "exists")
					{
						alert("Username alreday exists");
						$("#username").val('');
					}
				}
			});
		});
	});
</script>


<script src="/static/jquery-1.8.3.min.js"></script>
<script>
	$(document).ready(function(){
				$("#country").change(function(){
					var countryid=$("#country").val()
						$.ajax({
							url:"{% url 'getstate' %}",
							data:{'countryid':countryid},
							success:function(data){
									$("#state").html(data)
									}
								})
						})
					})
</script>



<script type="text/javascript">
	function validation()
	{
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;
		var name=document.getElementById("name")
		var gender=document.form.gender
		var dob=document.getElementById("dob")
		var address=document.getElementById("address")
		var phone=document.getElementById("phone")
		var country=document.getElementById("country")
		var state=document.getElementById("state")
		var securityquestion=document.getElementById("securityquestion")
		var answer=document.getElementById("answer")
		var username=document.getElementById("username")
		var password=document.getElementById("password")
		var checkbox=document.form.hobby
		var flag=0
		if(name.value.length == 0)
		{
			alert("Please enter name")
			return false;
		}
		else if(gender[0].checked == false && gender[1].checked == false)
		{
			alert("Please enter gender")
			return false;
		}
		else if(dob.value.length == 0)
		{
			alert("Please enter dob")
			return false;
		}
		else if(address.value.length == 0)
		{
			alert("Please enter address")
			return false;
		}
		else if(phone.value.length == 0)
		{
			alert("Please enter phone")
			return false;
		}
		else if(country.value.length == 0)
		{
			alert("Please enter country")
			return false;
		}
		else if(state.value.length == 0)
		{
			alert("Please enter state")
			return false;
		}
		else if(securityquestion.value.length == 0)
		{
			alert("Please enter securityquestion")
			return false;
		}
		else if(answer.value.length==0)
		{
			alert("Please enter answer")
			return false;
		}
		else if(username.value.length == 0)
		{
			alert("Please enter username")
			return false;
		}
		else if(password.value.length == 0)
		{
			alert("Please enter password")
			return false;
		}
		
		for(var i=0;i<checkbox.length;i++)
		{
			if(checkbox[i].checked == true)
				flag=1
		}
		if(flag==0)
		{
			alert("Item not selected")
			return false;
		}
						
		else
		{
			return true;
		}
	}
		</script>



  <body>
	<form method="post" action="{% url 'registerAction' %}" name="form">
		{% csrf_token %}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Register</h3>
                <form>
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control p_input" name="name" id="name">
                  </div>
                  <div class="form-group">
                    <label>Gender</label>
                    <input type="radio" name="gender" value="male">MALE
			<input type="radio" name="gender" value="female">FEMALE
                  </div>
		<div class="form-group">
                    <label>Dob</label>
                    <input type="date" class="form-control p_input" name="dob" id="dob">
                  </div>

		<div class="form-group">
                    <label>Address</label>
                    <textarea name="address" rows="10" cols="20" id="address" class="form-control p_input"></textarea>
                  </div>

		<div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control p_input" name="phone" id="phone">
                  </div>
		<div class="form-group">
                    <label>Country</label>
		<select name="country" id="country" class="form-control p_input">
					<option value="">---select---</option>
					{% for v in data %}
				<option value="{{v.id}}">{{v.country}}</option>
					{% endfor %}
				</select>
		</div>
		<div class="form-group">
                    <label>State</label>
			<select name="state" id="state" class="form-control p_input">
				<option value="">---select---</option>
				</select>
		</div>
		<div class="form-group">
                    <label>Security Question</label>
		<select name="securityquestion" id="securityquestion" class="form-control p_input">
					<option value="">---select---</option>
					<option value="What's your pet's name?">What's your pet's name?</option>
					<option value="What's your father's name?">What's your father's name?</option>
					<option value="What's your mother's name?">What's your mothers's name?</option>
				</select>
		</div>
		<div class="form-group">
                    <label>Answer</label>
                    <input type="text" name="answer" id="answer" class="form-control p_input">
                  </div>
			
		
			<div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" id="username" class="form-control p_input">@mymail.com
                  </div>
			
			
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" id="password"class="form-control p_input">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div>
                    
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn" onclick="return validation()">Register</button>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-facebook col mr-2">
                      <i class="mdi mdi-facebook"></i> Facebook </button>
                    <button class="btn btn-google col">
                      <i class="mdi mdi-google-plus"></i> Google plus </button>
                  </div>
                  <p class="sign-up text-center">Already have an Account?<a href="#"> Sign Up</a></p>
                  <p class="terms">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/bootstraptemp/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/bootstraptemp/template/assets/js/off-canvas.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/hoverable-collapse.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/misc.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/settings.js"></script>
    <script src="/static/bootstraptemp/template/assets/js/todolist.js"></script>
    <!-- endinject -->
  </body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>